.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-js {
  background-color: bisque;
}
.firstcompo {
  background-color: whitesmoke;
  color: purple;
}
.box {
  border: 2px solid black;
  display: flex;
}
.box1 {
  height: 150px;
  width: 150px;
  background-color: rebeccapurple;
}
.box2 {
  height: 150px;
  width: 150px;
  background-color: rgb(51, 153, 107);
}
.box3 {
  height: 150px;
  width: 150px;
  background-color: rgb(51, 95, 153);
}
